<img id="img1" src="/public/assets/img/burger1.jpg" alt="burger image">
<hr><hr>
<h1>Eat-Da-Burger</h1>
<hr>

<ul id="not-devoured">
    {{#each burgers}}
      {{#unless devoured}}
      <li>
          {{burger_name}}
          <button class="devour-burger" data-id="{{this.id}}">Devour it!</button>
      </li>
      {{/unless}}
    {{/each}}
</ul>

<ul id="devoured">
    {{#each burgers}}
      {{#if devoured}}
      <li>
          {{burger_name}}
      </li>
      {{/if}}
    {{/each}}
</ul>

<h2>Add a Burger you like</h2>
<form class = "add-burger">
    <div>
        <input type="text" id="burger" name="name">
    </div>
    <button type="submit">Add Burger</button>
</form>

