body {
    background-color: yellow;
}

#img1 {
    align-items: center;
}

h1 {
    color: red;
    text-align: center;
}

h2 {
    text-align: center;
}

#not-devoured{
    text-align: left;
}

#devoured {
    text-align: right;
}